html
    head
        title= title
        link(href="css/styles.css" rel="stylesheet")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js" type="text/javascript")
        script(src="index.js" type="text/javascript")
    body
        video(width="100%")
            source(src='' type='video/mp4;' id="video")
        div(id="overlay1" class="overlay")
            h1 Hello
        div(id="overlay2" class="overlay")
            h1 This is a box
            p Can I interest you in a HBR article?
            p Here's one anyway
            strong https://hbr.org/2017/10/7-tricky-work-situations-and-how-to-respond-to-them
        div(id="overlay3" class="overlay")
1